# 주제 : 한국판 뉴딜_디지털 뉴딜의 사각지대 메우기

## 사명명 : AI-Up-Go (아이업고)

### 1. __한국판 뉴딜 (New Deal)__ 이란 ?

- 코로나 19 로 인해 최악의 경기 침체와 일자리 충격 등에 직면해 있는 상황에서 위기를 극복하고 코로나 이후 글로벌 경제를 선도하기 위해 
  마련된 국가 발전 전략임. 

- 20 년 4 월 22 일 제 5 차 비상 경제 회의에서 포스트 코로나 시대의 혁신 성장을 위한 대규모 국가 프로젝트로 뉴딜을 처음 언급하였으며,
  한국판 뉴딜 추진 전담 조직 (TF) 구성, 분야별 전문가 간담회, 민간제안 수렴 등을 거쳐 7 월 14 일, 제 7 차 비상경제 회의 겸 한국판 뉴딜
  국민 보고 대회를 통해 추진 계획이 발표됨. 
  
- 문재인 대통령은 국민 보고 대회 기조 연설에서 "한국판 뉴딜은 선도 국가로 도약하는 대한민국 대 전환 선언으로 추격형 경제에서 선도형 경제
  로, 탄소 의존에서 저 탄소 경제로, 불평등 사회에서 포용 사회로 대한민국을 근본적으로 바꾸어 새로운 100 년을 설계하는 것" 이라고 강조함.

#### 출처 : http://www.korea.kr/special/policyCurationView.do?newsId=148874860
#### New Deal : 재 출발, 대 변혁, 또 한 번의 기회

![한국판 뉴딜](http://www.korea.kr/newsWeb/resources/temp/images/000150/%ED%95%9C%EA%B5%AD%ED%8C%90%EB%89%B4%EB%94%9C_1_1_3.jpg)
![분야별 총 사업비](http://www.korea.kr/newsWeb/resources/temp/images/000149/03_%EB%B6%84%EC%95%BC%EB%B3%84.jpg)
![한국판 뉴딜 추진체계](http://www.korea.kr/newsWeb/resources/temp/images/000149/02_%EC%B6%94%EC%A7%84%EC%B2%B4%EA%B3%84.jpg)

#### 1) 추격형 경제 -> 선도형 경제  
#### 2) 탄소 의존 -> 저 탄소 경제  
#### 3) 불평등 사회 -> 포용 사회

### 2. 한국판 뉴딜을 바라보는 외부 시각

- 도널드 커크 (미국 기자) : 새로운 국면이다. 경제를 살리기 위한 많은 방안을 도입하는 것이며 중소 기업과 다양한 분야를 활성화하여 경기
  회복과 코로나 19 위기의 침체로부터 경제를 견인하기 위함이다. 여러 해 동안 많은 자금을 투입하여 그들을 격려하는 것이고 족벌 대 기업에 
  자금이 몰리는 것을 원하지 않음. 창의성과 혁신을 가진 중소기업을 발굴하고 격려하고 싶어함. 대기업을 무시하고 추진 할 수 있을지는 지켜
  봐야 함. 야심찬 계획이다.
  
  
- 앤드류 살먼 (영국 기자) : 멋진 브랜드 이긴 하지만 세계의 모든 정부가 시장에 돈을 쏟아 부으며 비슷한 일을 하고 있음. 실패하면 정치적
  부담이 있고 성공하면 큰 힘, 한국은 경제의 70 % 를 대외 무역에 의존하기 때문에 뉴딜 정책은 다른 나라의 정부 정책보다 중요함.
  왜냐하면 한국은 국내 정책에 따라 해외 시장에 대한 의존도가 달라지는 경제이기 때문이다.  


- 프랭크 스미스 (캐나다 기자) : 절박한 시기에는 과감한 조치가 필요하다고 판단, 코로나 바이러스는 사회 구조에 대한 심각한 도전이다.
  문재인 정부의 뉴딜 정책이 일자리와 사업을 잃은 사람들에게 더 강력한 사회 안전망을 제공하기 위해 개입하는 것은 타당함. 
  디지털 경제와 녹색 경제에 주력하는 것도 좋은 생각임. 전세계에서 일어나는 자동화라는 트랜드를 인지하고 이는 산업 혁명 이후 큰 패러다임
  제조업 분야에서는 더 이상 일자리가 늘어나고 있지 않기 때문에 고용 분야에서 보다 인본주의적 접근이 필요하다. 일하는 시간을 줄이고 
  일을 분담하는 유형의 조치를 취해야 할 것. 이번 뉴딜 정책은 경제 성장보다는 사회의 행복에 중점을 둔, 보다 장기적으로 지속 가능한 발전
  이라고 정의할 수 있다.

### 3.가장 중요한 축은 디지털 뉴딜 (문재인 대통령)

#### - D.N.A 생태계 강화 
  * 국민 생활 밀접 분야 데이터 구축 및 개방 활용
  * 5G 국가망 확산 및 클라우드 전환  
<span style="color:blue"> * 1, 2, 3 차 산업 5G, AI 융합 확산</span>  
<span style="color:blue"> * AI, SW 핵심 인재 10 만명 양성</span>  

#### - 디지털 포용 및 안전망 구축
  * 농어촌 초고속 인터넷 망 및 공공 시설 WIFI 구축 
  * K-사이버 보안 체계 구축

#### - 비대면 산업 육성
  * 모든 초중고에 디지털 기반 교육 인프라 구축
  * 전국 대학 및 직업 훈련 기관 온라인 교육 강화
  * 감염병 안심 비대면 인프라 및 건강 취약 계층 디지털 돌봄 구축
  * 중소기업 16 만개 대상 원격 근무 인프라 보급 

#### - SOC 디지털화
  * 4 대 핵심 시설 디지털 관리 체계 구축
  * 도시, 산단 디지털 혁신 및 스마트 물류 체계 구축

### <span style="color:red"> 네 가지 핵심 키워드에서 가장 핵심을 2 가지 꼽자면 "디지털 뉴딜을 실행 할 인력의 육성" 및 "1,2,3 차 산업의 디지털화" </span>

kym (수정 요망)

AI 및 SW 인재들이 모이게 할 수 있는 방안
미국, 영국, 중국 등은 실무진의 ai 인재 육성에 중점을 두고 육성 중 

한국은 2019 년부터 대학 중심으로 ai 지원을 하고 있으나 실무자에 대한 육성책은 전무함. 
(개인이 개별적으로 학습해야 하는 환경, 코세라나 유다시티 등과 같은 사이트나 온라인 석사 학위제를 활용해야 하는 부분인데
동기 부여 및 언어 측면, 비용 측면에서 개인이 쉽게 도전하기 어렵다.) 

대학 석박사급 인재는 최근 정부의 ai 인력 개발 대학원 과정 등이 많이 개설되므로 문제가 없으나, 실무에 투입 되었을 때
이 인원들을 이끌어 줄 실무형 기술 인력이 부족함.


실무자가 ai - up - go (아이 업고, ai 실력을 up 하여 go 한다.) 에 등재하면 
아이 업고는 국내 연구소 및 대학원과 연계하여 실무자를 위한 ai 교육을 제공 
(석, 박사 수준, 가입 시 약간의 등록비를 받음.)

실무자가 ai 인재로 탈바꿈하는 것  

졸업한 ai 인재가 발굴한 모델로 수익 창출 시 일정 부문 개런티를 회사와 협상 
(실무자 + 아이 업고 + 연구소에서 해당 개런티를 분배함. 회사는 인재 양성 및 이윤 창출 도모, 연구소는 부가 수익 창출, 실무자는 
ai 인재로 탈바꿈 + 성과금, 아이 업고는 수익 창출)

아이 업고에 ai 인재 유입이 많이 되면 독자적 교육 커리큘럼 개발도 가능 할 것.

In [1]:
## EDA (Exploratory Data Analysis) : 데이터셋을 다양한 관점에서 살펴보고 탐색하면서 인사이트를 찾는 것.

In [2]:
%matplotlib inline

import os
import pandas as pd
import numpy as np
from pandas.api.types import is_string_dtype

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False

import folium
from folium import plugins
print(folium.__version__)

import datetime as dt

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

import platform
import googlemaps

plt.rcParams['figure.figsize'] = [8, 4] # [width, height] (inches) # 그림 크기의 확대
pd.options.display.max_rows = 100

pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

import warnings                   # 경고 무시
warnings.filterwarnings('ignore')

0.11.0

In [3]:
# AI 관련 그래프 (국가별 순위 위주로, 인재, 기술 관점) 도시 
# 실무진 육성 관련한 점수나 성과를 체계회 해 놓은 것이 있는지? 
# AI 전문 인력의 양적, 질적 부족, AI 생태계 조성이 시급 (관련 규제 완화)

# 국 내외 석박사 채용 (89.3 %), 재직자 AI 교육 (75 %), 대학 연계 프로그램 개발 (46.4 %)
# AI 기업 인수하거나 해외 연구소 설립 및 인수 (각 17.9 %)

# 가장 어려움으로는 실무형 기술 인력 부족 (36.7 %), 선진국 수준의 연봉 지급이 어려움 (25.5 %)
# 대학원 등 전문 교육 기간 및 교수 부족 (22.2 %), 근로시간 등 경직된 근무 환경 및 조직문화 (6.7 %), 예산 지원, 규제 완화(6.7 %)

# 국내 AI 인재 양성을 위해서?
# 교육 인프라 확대 (37.8 %), 기술 혁신 및 신 사업 창출 저해하는 규제 완화(21.1 %), AI 관련 스타트업 창업 및 기업의 AI 인재 제도적 지원(13.3 %)
# AI 인재 유치를 위한 근로환경 및 기업문화 조성 (12.2 %)

# 초 중 고와 대학에서 기초 교육 기반을 강화

In [4]:
# 인구

df_2019 = pd.read_csv('E:\\통계 데이터 대회\\data\인구\인구총조사\\101_DT_1B040M1_Y_2019.csv', index_col=0, encoding = 'cp949')
df_2019

         행정구역 C성별  성별   C연령별      연령별    시점  주민등록연앙인구 (명)
C행정구역
'00        전국  '0   계   '000        계  2019    51337423.5
'00        전국  '0   계  '0401       0세  2019      306395.5
'00        전국  '0   계  '0402       1세  2019      346237.5
'00        전국  '0   계  '0403       2세  2019      386969.5
'00        전국  '0   계  '0404       3세  2019      427661.0
...       ...  ..  ..    ...      ...   ...           ...
'39020   서귀포시  '2  여자  '4302      96세  2019          94.0
'39020   서귀포시  '2  여자  '4303      97세  2019          61.0
'39020   서귀포시  '2  여자  '4304      98세  2019          36.5
'39020   서귀포시  '2  여자  '4305      99세  2019          23.0
'39020   서귀포시  '2  여자   '440  100세 이상  2019          52.5

[87048 rows x 7 columns]

In [13]:
# 전국 인구 
all_2019 = df_2019[(df_2019['행정구역'] == '전국') & (df_2019['성별'] == '계')]
population_2019 = all_2019.loc[:, [False, False, False, False, True, False, True]]

for i in population_2019.columns:
    if is_string_dtype(population_2019[i]):
        pattern = '|'.join(['세', '이상'])
        population_2019[i] = population_2019[i].str.replace(pattern, '')
        
total = population_2019['연령별'].isin(['계']) # 글자 들어간 행 삭제
population_2019 = population_2019[~total]

population_2019 = population_2019.astype('int64')
population_2019

       연령별  주민등록연앙인구 (명)
C행정구역
'00      0        306395
'00      1        346237
'00      2        386969
'00      3        427661
'00      4        441919
'00      5        440543
'00      6        465153
'00      7        482541
'00      8        474492
'00      9        460448
'00     10        458034
'00     11        481829
'00     12        472274
'00     13        442398
'00     14        454393
'00     15        482778
'00     16        492928
'00     17        525496
'00     18        597072
'00     19        627020
'00     20        627061
'00     21        652265
'00     22        674713
'00     23        692849
'00     24        706912
'00     25        707870
'00     26        713595
'00     27        709696
'00     28        667537
'00     29        632178
'00     30        624960
'00     31        618241
'00     32        619006
'00     33        636130
'00     34        652828
'00     35        699970
'00     36        779243
'00     37        824609
'00     38        831633
'00     39        824865
'00     40        767489
'00     41        743353
'00     42        763032
'00     43        768131
'00     44        815123
'00     45        865554
'00     46        882865
'00     47        906289
'00     48        917004
'00     49        907016
'00     50        910428
'00     51        879095
'00     52        824288
'00     53        818646
'00     54        826396
'00     55        796877
'00     56        819650
'00     57        878431
'00     58        898149
'00     59        866783
'00     60        795353
'00     61        755302
'00     62        714530
'00     63        688952
'00     64        647315
'00     65        553868
'00     66        539596
'00     67        488212
'00     68        423986
'00     69        438176
'00     70        437202
'00     71        435327
'00     72        390052
'00     73        325006
'00     74        314643
'00     75        322869
'00     76        356712
'00     77        352974
'00     78        295145
'00     79        275544
'00     80       1769298
'00     80        259686
'00     81        230913
'00     82        208359
'00     83        189724
'00     84        167482
'00     85        713133
'00     85        139340
'00     86        117364
'00     87         96929
'00     88         78893
'00     89         67092
'00     90         54969
'00     91         43285
'00     92         31530
'00     93         22702
'00     94         16731
'00     95         13476
'00     96         10926
'00     97          7188
'00     98          4545
'00     99          2932
'00    100          5226

In [34]:
# 10 세씩 총 인구 분포
baby = population_2019[(0 <= population_2019['연령별']) & (population_2019['연령별'] < 11)]
teen = population_2019[(11 <= population_2019['연령별']) & (population_2019['연령별'] < 20)]
twenty = population_2019[(21 <= population_2019['연령별']) & (population_2019['연령별'] < 30)]
thirty = population_2019[(31 <= population_2019['연령별']) & (population_2019['연령별'] < 40)]
fourty = population_2019[(41 <= population_2019['연령별']) & (population_2019['연령별'] < 50)]
fifty = population_2019[(51 <= population_2019['연령별']) & (population_2019['연령별'] < 60)]

# sum0 = baby.sum()
# sum10 = teen.sum()
# sum20 = twenty.sum()
# sum30 = thirty.sum()
# sum40 = fourty.sum()
# sum50 = fifty.sum()

In [24]:
# 년도별 출생수 데이터 생성

df = pd.DataFrame({
    '인구수':[sum0, sum10, sum20, sum30, sum40, sum50]    
})
df

                                                 인구수
0  연령별                  55
주민등록연앙인구 (명)    469039...
1  연령별                 135
주민등록연앙인구 (명)    457618...
2  연령별                 225
주민등록연앙인구 (명)    615761...
3  연령별                 315
주민등록연앙인구 (명)    648652...
4  연령별                 405
주민등록연앙인구 (명)    756836...
5  연령별                 495
주민등록연앙인구 (명)    760831...

In [ ]:
df = df.rename(index={0:'2014',1:'2015', 2:'2016', 3:'2017', 4:'2018'})
df

In [6]:
population_2019.plot(kind='hist', y='주민등록연앙인구 (명)', bins=)

SyntaxError: invalid syntax (<ipython-input-6-fa2b590b4aa7>, line 1)

In [ ]:
# 전국 인구 추출

man_2014 = population_2014[(population_2014['성별'] == 1)]
women_2014 = population_2014[(population_2014['성별'] == 2)]
human_2014 = len(man_2014) + len(women_2014)
man_2015 = population_2015[(population_2015['성별'] == 1)]
women_2015 = population_2015[(population_2015['성별'] == 2)]
human_2015 = len(man_2015) + len(women_2015)
man_2016 = population_2016[(population_2016['성별'] == 1)]
women_2016 = population_2016[(population_2016['성별'] == 2)]
human_2016 = len(man_2016) + len(women_2016)
man_2017 = population_2017[(population_2017['성별'] == 1)]
women_2017 = population_2017[(population_2017['성별'] == 2)]
human_2017 = len(man_2017) + len(women_2017)
man_2018 = population_2018[(population_2018['성별'] == 1)]
women_2018 = population_2018[(population_2018['성별'] == 2)]
human_2018 = len(man_2018) + len(women_2018)

In [ ]:
# 년도별 출생수 데이터 생성

df = pd.DataFrame({
    'man':[len(man_2014), len(man_2015), len(man_2016), len(man_2017), len(man_2018)],
    'women':[len(women_2014), len(women_2015), len(women_2016), len(women_2017), len(women_2018)]
})

In [ ]:
df.plot(kind='bar', title="연도별 출생률 변화", stacked=True) 
plt.xlabel('년도')
plt.grid(b=True, which='both', axis='y')
plt.legend()
plt.show()

In [ ]:
# 연도별 출생률을 살펴보면 지속적으로 하락하고 있으며, 출생자는 남자가 여자보다 많음. (2019 년 출생자 303,100 명)

In [ ]:
df['total'] = df.sum(axis=1) # 두 컬럼 값들의 합
total_2014 = df.loc['2014', 'total'] 

df['Increase/decrease rate'] = (df['total'] / (total_2014)).apply('{:.0%}'.format)
df

In [ ]:
# 연도별 출생률을 살펴보면 2014 년 대비 2018 년이 25 % 하락